flows.json
[
    {
        "id": "faf14aee63fded2b",
        "type": "tab",
        "label": "1. basic function",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c715b5a6ef774cd",
        "type": "tab",
        "label": "2. http data parser",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a4eb5ad8062e8d43",
        "type": "tab",
        "label": "3. set property",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd86e8ee0fe5eb64",
        "type": "tab",
        "label": "4. delete property",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0bbcd403e39777a4",
        "type": "tab",
        "label": "5. move property",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "edfc94da89d598f8",
        "type": "tab",
        "label": "6.  map range",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6b0555ce9153059a",
        "type": "tab",
        "label": "7. trigger on start",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ab522ae4383fe071",
        "type": "tab",
        "label": "8. trigger at interval",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4acfd26f205f828c",
        "type": "tab",
        "label": "9. trigger at time",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6f0a39bb4e3bbc0d",
        "type": "tab",
        "label": "10. route on property",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c997bc5b198b9a1e",
        "type": "tab",
        "label": "11. route on context",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6aba3d6b285da5df",
        "type": "tab",
        "label": "12. operate on array",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e34082b516bdce7",
        "type": "tab",
        "label": "13. trigger timeout",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bba78dc4a29f4bdc",
        "type": "tab",
        "label": "14. trigger placeholder",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6297bde743341eaa",
        "type": "tab",
        "label": "15. rate limit",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "69f81de7395b8497",
        "type": "tab",
        "label": "16. report by exception",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "252dafafbb5e8ebd",
        "type": "tab",
        "label": "17. join streams",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5cfa383c8e9d339e",
        "type": "tab",
        "label": "18. trigger on error",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "74a065dbe609ed99",
        "type": "tab",
        "label": "19. retry",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bad5e16c3b1a40e4",
        "type": "tab",
        "label": "20.  json",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fcc17e8485709233",
        "type": "tab",
        "label": "21. xml",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "945afaf123e5ba8e",
        "type": "tab",
        "label": "22. yaml",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e16c9f593570b98f",
        "type": "inject",
        "z": "faf14aee63fded2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "f80e2cf5989c85ed"
            ]
        ]
    },
    {
        "id": "e74178bde0823a50",
        "type": "debug",
        "z": "faf14aee63fded2b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "f80e2cf5989c85ed",
        "type": "function",
        "z": "faf14aee63fded2b",
        "name": "",
        "func": "// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = `지금은 ${date.toLocaleString()} 입니다.`;\n// Return the message so it can be sent on\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "e74178bde0823a50"
            ]
        ]
    },
    {
        "id": "e36406f2.8ef798",
        "type": "inject",
        "z": "6c715b5a6ef774cd",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payloadType": "str",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "c3c50023.3bbed"
            ]
        ]
    },
    {
        "id": "c3c50023.3bbed",
        "type": "http request",
        "z": "6c715b5a6ef774cd",
        "name": "Recent Quakes",
        "method": "GET",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "8afc6cac.e0812"
            ]
        ]
    },
    {
        "id": "8afc6cac.e0812",
        "type": "csv",
        "z": "6c715b5a6ef774cd",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": 0,
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 470,
        "y": 100,
        "wires": [
            [
                "44779781.4190f8",
                "6f0eb546.9e208c"
            ]
        ]
    },
    {
        "id": "44779781.4190f8",
        "type": "debug",
        "z": "6c715b5a6ef774cd",
        "name": "",
        "active": false,
        "complete": false,
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "6f0eb546.9e208c",
        "type": "switch",
        "z": "6c715b5a6ef774cd",
        "name": "",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "7",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "d78d4aa8.8c8208"
            ]
        ]
    },
    {
        "id": "d78d4aa8.8c8208",
        "type": "change",
        "z": "6c715b5a6ef774cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANIC!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "72fddece.fac0d"
            ]
        ]
    },
    {
        "id": "72fddece.fac0d",
        "type": "debug",
        "z": "6c715b5a6ef774cd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "d72dc4ce.89b368",
        "type": "inject",
        "z": "a4eb5ad8062e8d43",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payloadType": "date",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "78075f19.e0174"
            ]
        ]
    },
    {
        "id": "78075f19.e0174",
        "type": "change",
        "z": "a4eb5ad8062e8d43",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Hello World!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "78dc7c25.b90d54"
            ]
        ]
    },
    {
        "id": "78dc7c25.b90d54",
        "type": "debug",
        "z": "a4eb5ad8062e8d43",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "91cd2fa9.e0a96",
        "type": "inject",
        "z": "dd86e8ee0fe5eb64",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "54ec03e4.5714bc"
            ]
        ]
    },
    {
        "id": "54ec03e4.5714bc",
        "type": "change",
        "z": "dd86e8ee0fe5eb64",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 120,
        "wires": [
            [
                "321900de.3cbea"
            ]
        ]
    },
    {
        "id": "321900de.3cbea",
        "type": "debug",
        "z": "dd86e8ee0fe5eb64",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "d11f7311.77c15",
        "type": "inject",
        "z": "0bbcd403e39777a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "Hello",
        "payloadType": "date",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "13c01487.eb13cb"
            ]
        ]
    },
    {
        "id": "13c01487.eb13cb",
        "type": "change",
        "z": "0bbcd403e39777a4",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 120,
        "wires": [
            [
                "89cc4fb1.9b208"
            ]
        ]
    },
    {
        "id": "89cc4fb1.9b208",
        "type": "debug",
        "z": "0bbcd403e39777a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "80dae67d.b4d8f8",
        "type": "inject",
        "z": "edfc94da89d598f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "81f13534.456348"
            ]
        ]
    },
    {
        "id": "81f13534.456348",
        "type": "range",
        "z": "edfc94da89d598f8",
        "minin": "0",
        "maxin": "1023",
        "minout": "0",
        "maxout": "5",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "e80b61d7.4b399"
            ]
        ]
    },
    {
        "id": "cb21de23.75a2f",
        "type": "inject",
        "z": "edfc94da89d598f8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "512",
        "payloadType": "num",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "81f13534.456348"
            ]
        ]
    },
    {
        "id": "342552de.255a1e",
        "type": "inject",
        "z": "edfc94da89d598f8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "1023",
        "payloadType": "num",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "81f13534.456348"
            ]
        ]
    },
    {
        "id": "e80b61d7.4b399",
        "type": "debug",
        "z": "edfc94da89d598f8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "e60b12c1.93bb3",
        "type": "inject",
        "z": "6b0555ce9153059a",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "Started!",
        "payloadType": "str",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "9b1d7727.56d0f8"
            ]
        ]
    },
    {
        "id": "9b1d7727.56d0f8",
        "type": "debug",
        "z": "6b0555ce9153059a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "372cfc32.bcd244",
        "type": "inject",
        "z": "ab522ae4383fe071",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payloadType": "date",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "6c63c499.ce3adc"
            ]
        ]
    },
    {
        "id": "6c63c499.ce3adc",
        "type": "debug",
        "z": "ab522ae4383fe071",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "24579bcb.5c9814",
        "type": "inject",
        "z": "4acfd26f205f828c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 16 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "It is 4pm on a weekday!",
        "payloadType": "str",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "145b508a.f3325f"
            ]
        ]
    },
    {
        "id": "145b508a.f3325f",
        "type": "debug",
        "z": "4acfd26f205f828c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "3bc8e1d2.744abe",
        "type": "switch",
        "z": "6f0a39bb4e3bbc0d",
        "name": "Route ",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pressure",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "907bf3b8.def45"
            ],
            [
                "fe425938.926838"
            ],
            [
                "ec261304.52f73"
            ]
        ]
    },
    {
        "id": "be3da36c.1c142",
        "type": "inject",
        "z": "6f0a39bb4e3bbc0d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "27",
        "payloadType": "num",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "3bc8e1d2.744abe"
            ]
        ]
    },
    {
        "id": "f271ceef.172b3",
        "type": "inject",
        "z": "6f0a39bb4e3bbc0d",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "humidity",
        "payload": "45",
        "payloadType": "num",
        "x": 250,
        "y": 140,
        "wires": [
            [
                "3bc8e1d2.744abe"
            ]
        ]
    },
    {
        "id": "907bf3b8.def45",
        "type": "debug",
        "z": "6f0a39bb4e3bbc0d",
        "name": "Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "fe425938.926838",
        "type": "debug",
        "z": "6f0a39bb4e3bbc0d",
        "name": "Humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "ec261304.52f73",
        "type": "debug",
        "z": "6f0a39bb4e3bbc0d",
        "name": "Pressure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "fca957dd.9d8078",
        "type": "inject",
        "z": "6f0a39bb4e3bbc0d",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pressure",
        "payload": "1001",
        "payloadType": "num",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "3bc8e1d2.744abe"
            ]
        ]
    },
    {
        "id": "a62d8cdf.1bd82",
        "type": "inject",
        "z": "c997bc5b198b9a1e",
        "d": true,
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "b8bbbc41.f272"
            ]
        ]
    },
    {
        "id": "b8bbbc41.f272",
        "type": "switch",
        "z": "c997bc5b198b9a1e",
        "name": "Context based routing",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "9aa9c6b2.18a8e8"
            ],
            [
                "6ba4ec46.476794"
            ],
            [
                "a2e806c8.ffa168"
            ]
        ]
    },
    {
        "id": "9aa9c6b2.18a8e8",
        "type": "debug",
        "z": "c997bc5b198b9a1e",
        "name": "Output 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 80,
        "wires": []
    },
    {
        "id": "6ba4ec46.476794",
        "type": "debug",
        "z": "c997bc5b198b9a1e",
        "name": "Output 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "a2e806c8.ffa168",
        "type": "debug",
        "z": "c997bc5b198b9a1e",
        "name": "Output 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "8aabdb51.e8b538",
        "type": "inject",
        "z": "c997bc5b198b9a1e",
        "name": "Set state 0 - turn off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 270,
        "y": 230,
        "wires": [
            [
                "e46083e4.1f17b"
            ]
        ]
    },
    {
        "id": "d1722dee.48db4",
        "type": "inject",
        "z": "c997bc5b198b9a1e",
        "name": "Set state 1 - send to output 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 300,
        "y": 275,
        "wires": [
            [
                "e46083e4.1f17b"
            ]
        ]
    },
    {
        "id": "4bdb08de.706328",
        "type": "inject",
        "z": "c997bc5b198b9a1e",
        "name": "Set state 2 - send to output 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 300,
        "y": 320,
        "wires": [
            [
                "e46083e4.1f17b"
            ]
        ]
    },
    {
        "id": "220ce0a6.cf81e",
        "type": "inject",
        "z": "c997bc5b198b9a1e",
        "name": "Set state 3 - send to output 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 300,
        "y": 365,
        "wires": [
            [
                "e46083e4.1f17b"
            ]
        ]
    },
    {
        "id": "e46083e4.1f17b",
        "type": "change",
        "z": "c997bc5b198b9a1e",
        "name": "Set flow.state",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 275,
        "wires": [
            []
        ]
    },
    {
        "id": "3149f240.c0e25e",
        "type": "inject",
        "z": "6aba3d6b285da5df",
        "name": "Array of decimals",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1.67,2.98,3.12,4.99,5.50]",
        "payloadType": "json",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "bd57baa6.00f998"
            ]
        ]
    },
    {
        "id": "bd57baa6.00f998",
        "type": "split",
        "z": "6aba3d6b285da5df",
        "name": "Split array",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "7ab9e9ed.d514b8",
                "fd856cc724cdeda3"
            ]
        ]
    },
    {
        "id": "7ab9e9ed.d514b8",
        "type": "range",
        "z": "6aba3d6b285da5df",
        "minin": "0",
        "maxin": "10",
        "minout": "0",
        "maxout": "10",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "Round value",
        "x": 550,
        "y": 160,
        "wires": [
            [
                "f26660ab.007b3"
            ]
        ]
    },
    {
        "id": "f26660ab.007b3",
        "type": "join",
        "z": "6aba3d6b285da5df",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 750,
        "y": 160,
        "wires": [
            [
                "f9b5abac.f13828"
            ]
        ]
    },
    {
        "id": "f9b5abac.f13828",
        "type": "debug",
        "z": "6aba3d6b285da5df",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "fd856cc724cdeda3",
        "type": "debug",
        "z": "6aba3d6b285da5df",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "6ea53ad8.2362a4",
        "type": "debug",
        "z": "9e34082b516bdce7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "3da6946e.184a5c",
        "type": "inject",
        "z": "9e34082b516bdce7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "38caaff4.03f6d",
                "6ea53ad8.2362a4"
            ]
        ]
    },
    {
        "id": "38caaff4.03f6d",
        "type": "trigger",
        "z": "9e34082b516bdce7",
        "name": "Watchdog",
        "op1": "",
        "op2": "timeout",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 430,
        "y": 140,
        "wires": [
            [
                "ae477709.016088"
            ]
        ]
    },
    {
        "id": "ae477709.016088",
        "type": "debug",
        "z": "9e34082b516bdce7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "9ccdf268.c96ff",
        "type": "inject",
        "z": "bba78dc4a29f4bdc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "38950a5.28d15f6",
                "2c532f67.0330e"
            ]
        ]
    },
    {
        "id": "38950a5.28d15f6",
        "type": "debug",
        "z": "bba78dc4a29f4bdc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "2c532f67.0330e",
        "type": "trigger",
        "z": "bba78dc4a29f4bdc",
        "name": "",
        "op1": "reset",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "e4e42b96.97a338"
            ]
        ]
    },
    {
        "id": "e4e42b96.97a338",
        "type": "trigger",
        "z": "bba78dc4a29f4bdc",
        "name": "",
        "op1": "0",
        "op2": "0",
        "op1type": "num",
        "op2type": "str",
        "duration": "-2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "reset",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 540,
        "y": 140,
        "wires": [
            [
                "38950a5.28d15f6"
            ]
        ]
    },
    {
        "id": "1fccc223.7ba87e",
        "type": "inject",
        "z": "6297bde743341eaa",
        "name": "Inject Array",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[0,1,2,3,4,5,6,7,8,9]",
        "payloadType": "json",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "b2837466.e02a38"
            ]
        ]
    },
    {
        "id": "b2837466.e02a38",
        "type": "split",
        "z": "6297bde743341eaa",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "bd97c8ed.a5c8d8"
            ]
        ]
    },
    {
        "id": "bd97c8ed.a5c8d8",
        "type": "delay",
        "z": "6297bde743341eaa",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 140,
        "wires": [
            [
                "bd66f03e.bdf0c"
            ]
        ]
    },
    {
        "id": "bd66f03e.bdf0c",
        "type": "debug",
        "z": "6297bde743341eaa",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "0bf3188805321148",
        "type": "inject",
        "z": "6297bde743341eaa",
        "name": "Inject Array",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[0,1,2,3,4,5,6,7,8,9]",
        "payloadType": "json",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "482a80d055055d19"
            ]
        ]
    },
    {
        "id": "482a80d055055d19",
        "type": "delay",
        "z": "6297bde743341eaa",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "619f1f87992fbf01"
            ]
        ]
    },
    {
        "id": "619f1f87992fbf01",
        "type": "debug",
        "z": "6297bde743341eaa",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "6079638d.df403c",
        "type": "inject",
        "z": "69f81de7395b8497",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "87129503.c7b358"
            ]
        ]
    },
    {
        "id": "87129503.c7b358",
        "type": "rbe",
        "z": "69f81de7395b8497",
        "name": "report-by-exception",
        "func": "deadband",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 440,
        "y": 140,
        "wires": [
            [
                "5e2ffc27.c61dd4"
            ]
        ]
    },
    {
        "id": "5e2ffc27.c61dd4",
        "type": "debug",
        "z": "69f81de7395b8497",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "2dc49f96.3070c",
        "type": "inject",
        "z": "69f81de7395b8497",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "87129503.c7b358"
            ]
        ]
    },
    {
        "id": "8ccddb9a.a55f38",
        "type": "inject",
        "z": "252dafafbb5e8ebd",
        "name": "temperature",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "20",
        "payloadType": "num",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "47b769c5.cb0e28"
            ]
        ]
    },
    {
        "id": "47b769c5.cb0e28",
        "type": "join",
        "z": "252dafafbb5e8ebd",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "f9afb265.b11b7"
            ]
        ]
    },
    {
        "id": "f9afb265.b11b7",
        "type": "debug",
        "z": "252dafafbb5e8ebd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "2d269127.4f04ce",
        "type": "inject",
        "z": "252dafafbb5e8ebd",
        "name": "humidity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "humidity",
        "payload": "10",
        "payloadType": "num",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "47b769c5.cb0e28"
            ]
        ]
    },
    {
        "id": "d6fbe805.0e4628",
        "type": "inject",
        "z": "252dafafbb5e8ebd",
        "name": "pressure",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pressure",
        "payload": "999",
        "payloadType": "num",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "47b769c5.cb0e28"
            ]
        ]
    },
    {
        "id": "2bd6810d.e22ece",
        "type": "catch",
        "z": "5cfa383c8e9d339e",
        "name": "",
        "scope": [
            "2c94a22c.91012e"
        ],
        "uncaught": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "d16b9fac.8212a"
            ]
        ]
    },
    {
        "id": "2c94a22c.91012e",
        "type": "function",
        "z": "5cfa383c8e9d339e",
        "name": "Throw Error",
        "func": "node.error(\"an example error\", msg);   ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d16b9fac.8212a",
        "type": "debug",
        "z": "5cfa383c8e9d339e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "c5ee9670.5dbbd8",
        "type": "inject",
        "z": "5cfa383c8e9d339e",
        "name": "Trigger error",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "2c94a22c.91012e"
            ]
        ]
    },
    {
        "id": "27e61f12.c1a15",
        "type": "inject",
        "z": "74a065dbe609ed99",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 240,
        "y": 80,
        "wires": [
            [
                "d7d08440.31b678"
            ]
        ]
    },
    {
        "id": "d7d08440.31b678",
        "type": "function",
        "z": "74a065dbe609ed99",
        "name": "Random error",
        "func": "// Randomly throw an error rather than\n// pass on message.\nif (Math.random() < 0.5) {\n   node.error(\"a random error\", msg);\n} else {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 80,
        "wires": [
            [
                "f22b1e9a.5d89b"
            ]
        ]
    },
    {
        "id": "f22b1e9a.5d89b",
        "type": "debug",
        "z": "74a065dbe609ed99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "2166290d.98d736",
        "type": "delay",
        "z": "74a065dbe609ed99",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "d7d08440.31b678"
            ]
        ]
    },
    {
        "id": "139b836e.7950ed",
        "type": "catch",
        "z": "74a065dbe609ed99",
        "name": "",
        "scope": [
            "d7d08440.31b678"
        ],
        "uncaught": false,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "2166290d.98d736",
                "9c8ab214.0ecaa"
            ]
        ]
    },
    {
        "id": "9c8ab214.0ecaa",
        "type": "debug",
        "z": "74a065dbe609ed99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 200,
        "wires": []
    },
    {
        "id": "634256b7.2d6818",
        "type": "inject",
        "z": "bad5e16c3b1a40e4",
        "name": "JSON String",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":1}",
        "payloadType": "str",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "a2fe0fc8.095e1"
            ]
        ]
    },
    {
        "id": "a2fe0fc8.095e1",
        "type": "json",
        "z": "bad5e16c3b1a40e4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 140,
        "wires": [
            [
                "9a4ce2b8.47698"
            ]
        ]
    },
    {
        "id": "9a4ce2b8.47698",
        "type": "debug",
        "z": "bad5e16c3b1a40e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "80032e2.7c92cd",
        "type": "inject",
        "z": "bad5e16c3b1a40e4",
        "name": "Object",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":1}",
        "payloadType": "json",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "cd40a0f4.4f5ac"
            ]
        ]
    },
    {
        "id": "cd40a0f4.4f5ac",
        "type": "json",
        "z": "bad5e16c3b1a40e4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "478b4106.4fd7c"
            ]
        ]
    },
    {
        "id": "478b4106.4fd7c",
        "type": "debug",
        "z": "bad5e16c3b1a40e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "1b546d47.9474e3",
        "type": "inject",
        "z": "fcc17e8485709233",
        "name": "XML String",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":1}",
        "payloadType": "str",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "d72b2bfd.77d068"
            ]
        ]
    },
    {
        "id": "1adf407d.6c4fe",
        "type": "debug",
        "z": "fcc17e8485709233",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "46638890.8ae758",
        "type": "inject",
        "z": "fcc17e8485709233",
        "name": "Object",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"note\":{\"$\":{\"priority\":\"high\"},\"to\":[\"Nick\"],\"from\":[\"Dave\"],\"heading\":[\"Reminder\"],\"body\":[\"Update the website\"]}}",
        "payloadType": "json",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "dae1d291.de0d2"
            ]
        ]
    },
    {
        "id": "6fefca67.3669e4",
        "type": "debug",
        "z": "fcc17e8485709233",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "d72b2bfd.77d068",
        "type": "template",
        "z": "fcc17e8485709233",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "<note priority=\"high\">\n  <to>Nick</to>\n  <from>Dave</from>\n  <heading>Reminder</heading>\n  <body>Update the website</body>\n</note>",
        "output": "str",
        "x": 420,
        "y": 140,
        "wires": [
            [
                "1746464a.87aa4a"
            ]
        ]
    },
    {
        "id": "1746464a.87aa4a",
        "type": "xml",
        "z": "fcc17e8485709233",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 570,
        "y": 140,
        "wires": [
            [
                "1adf407d.6c4fe"
            ]
        ]
    },
    {
        "id": "dae1d291.de0d2",
        "type": "xml",
        "z": "fcc17e8485709233",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "6fefca67.3669e4"
            ]
        ]
    },
    {
        "id": "f231967.0251a68",
        "type": "inject",
        "z": "945afaf123e5ba8e",
        "name": "YAML String",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":1}",
        "payloadType": "str",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "a0110756.ecfa48"
            ]
        ]
    },
    {
        "id": "8f8f31b7.1f916",
        "type": "debug",
        "z": "945afaf123e5ba8e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "5138ba3.c972444",
        "type": "inject",
        "z": "945afaf123e5ba8e",
        "name": "Object",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":1,\"b\":[1,2,3]}",
        "payloadType": "json",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "2fa653cc.60d3dc"
            ]
        ]
    },
    {
        "id": "50f2f4c.4a6e60c",
        "type": "debug",
        "z": "945afaf123e5ba8e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "a0110756.ecfa48",
        "type": "template",
        "z": "945afaf123e5ba8e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "yaml",
        "syntax": "plain",
        "template": "a: 1\nb:\n  - 1\n  - 2\n  - 3",
        "output": "str",
        "x": 460,
        "y": 180,
        "wires": [
            [
                "104b80e2.51068f"
            ]
        ]
    },
    {
        "id": "2fa653cc.60d3dc",
        "type": "yaml",
        "z": "945afaf123e5ba8e",
        "property": "payload",
        "name": "",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "50f2f4c.4a6e60c"
            ]
        ]
    },
    {
        "id": "104b80e2.51068f",
        "type": "yaml",
        "z": "945afaf123e5ba8e",
        "property": "payload",
        "name": "",
        "x": 610,
        "y": 180,
        "wires": [
            [
                "8f8f31b7.1f916"
            ]
        ]
    }
]